<div id="header">
        <!-- container -->
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img style="height: 68px;width: 68px;" src="{{asset('images/'~boutique.logo)}}" alt="">
                        </a>
                      <span class="shop_name"> {{boutique.name}} <br> 
                        <i class="fa fa-phone" style="color:#df2121"></i> 
                        <span class="contact_shop">{{boutique.contact}}</span></span>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
               
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                {% include "boutique/dependancies/_actionUser.html.twig"%}
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
        <div class="inother-ajax">
            <div class="div-inother"></div>
        </div>
    </div>
    <!-- /MAIN HEADER -->
</header>