
<li class="has-dropdown has-megaitem">
                      <a href="product-details-default.html"
                        ><i class="fa fa-angle-down"></i
                      ></a>
                      <!-- Mega Menu -->
                      <div class="mega-menu">
                        <ul class="mega-menu-inner">
                     

                        <!-- Mega Menu Sub Link -->
                          <li class="mega-menu-item">
                            <a href="#" class="mega-menu-item-title"
                              >Category</a
                            >
                            <ul class="mega-menu-sub">
                              <li>
                                <a href="#" class=""
                                >Sous category</a
                                >
                                <ul class="">
                                
                                   <li><a href="#">option</a></li>
                               
                                </ul>
                            </li>
                            </ul>
                          </li>
                         

                        </ul>
                      </div>
    </li>
   