{% if boutique.headers is defined %}
    {% for images in boutique.headers %}
            <div class="container_image_slider">
                <img class="image_slider" src="{{asset('images/'~images.name )}}" />
            </div>
    {% endfor %}
 {% endif %}
