.shop_edit{
    background: white;
padding: 14px;
border-radius: 3px;
margin-bottom: 26px;
}
.container_btn_shop_edit{
    display: flex;
justify-content: end;
align-items: center;
margin-top: 8px;
}
.container_image_article_ {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.form_add_category{
    background: white;
    padding: 8px;
    margin: 5px;
    justify-content: center;
    position: relative;
    
}
#name_category {
    color: black;
}
.selected_option{
    background: #6c4c4c;
    color: white;
    font-weight: bold;
}
.listcategory{
    box-shadow: 0 0 2px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close_add{
    position: absolute;
    top: -17px;
    right: -12px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.container_image_article_ img {
    max-width: 100px;
    height: 16px;
    margin: 5px;
    cursor: pointer;
}

 .container_logo img {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    padding: 2px;
    border: 2px solid white;
}
.loader{
    display: none;
    height: 20px;
    width: 20px;
}
.list_produit {
    position: relative;
height: 200px;
width: 100%;
display: inline-block;
margin-top: 8px;
cursor: pointer;
border: 1px solid rgba(0,0,0,0.1);
box-shadow: 3px 3px 10px -4px blue;
padding: 4px;
border-radius: 9px;
overflow: hidden;
}
.loader_ajax_{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    transform: scale(0);
}
.article_delete{
    margin-top : 5px;
}
.loader_ajax_ > img{
    height: 56px;
background: #0a14aa;
padding: 7px;
border-radius: 50%;
}
.image_produit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#preview_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.preview_image{
    height: 238px;
    border: 1px solid beige;
}
#submitformarticle{
    float: right;
    margin-right: 26px;
    margin-bottom: 5px;
}
.default_input {
    background: white !important;
}
.block{
    display: block;
}
img.header_boutique {
    width: 100%;
    height: 100%;
}
.container_header_boutique {
    height: 155px;
    border: 1px solid rgba(0,0,0,0.2);
}
.parametre_logo {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parametre_logo img {
    max-width: 100%;
    height: 100%;
}
.container_image_logo .container_edit_form{
    position: absolute;
    background: white;
    box-shadow: 0px 0px 5px black;
    padding: 5px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    display: none;
}
.container_images_listboutique {
    box-shadow: 0px 0px 3px black;
    border-radius: 6px;
    padding: 4px;
    margin-bottom: 5px;
    display: flex;
}
.images_container_listboutique {
    width: 130px;
    height: 130px;
    border: 1px solid black;
}
.close{
    position: absolute;
    right: 13px;
    top: 17px;
}
.add_boutique_button, .h4_inline{
    display: inline-block;

}
.add_boutique_button{
  margin-bottom: 5px;
}
.en_cours{
    position: absolute;
    background-attachment: white;
    color: black;
}
.preview_image {
    height: 148px;
}
.loader_img_default{
    height: 34px;
}
.name_menu{
    display: inline-block;
}
.action_for_article {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0.3);
    transform: scale(0);
    transition: 200ms;
}
.btn_detail_article, .bnt_delete_article{
    margin-left: 4px;
    margin-right: 4px;
    background: radial-gradient(rgb(26, 24, 24), transparent);
}
.btn_detail_article:hover, .bnt_delete_article:hover{
    background: radial-gradient(rgb(26, 24, 24), transparent) !important;
}
.list_produit:hover .action_for_article{
    transform: scale(1);
}
.images_header_admin{
    height: 200px;
    overflow: hidden;
    position: relative;
}

.images_header_admin img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    transition: 300ms all ease-in;
    cursor: pointer;
}
.images_header_admin:hover img{
    transform: scale(1.2);
}
.images_header_admin div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    top: 50px;
    opacity: 0;
    transition: all 100ms ease-in;
   cursor: pointer;
}
.images_header_admin:hover div{
   
    top: 0px;
    opacity: 1;
}
.images_header_admin > div > button{
   margin:5px
}
#_view_header {
    display: flex;
    justify-content: center;
    align-items: center;
}
#_view_header > img{
    max-width: 100%;
max-height: 100%;
}
.list_produit > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background: rgba(0,0,0,0.4);
    transition: 100ms all;
    transform: translateY(70%);
    opacity: 0;
}
.list_produit:hover > div {
    opacity: 1;
    transform: translateY(0%);
}
.list_produit > div a{
    margin: 3px;
    opacity: 0.93;
    transition: all 300ms;
}
.list_produit > div a:hover{
    margin: 3px;
    opacity: 1;
}
/*reference */
.image_slider_to{
	height: 250px;
	width: 200PX;
}
.slide_animation {
    margin-right: 8px;
    margin-top: 0px !important;
    position: relative;
    background: white;
    padding: 5px;
    margin: 5px;
    box-shadow: 5px 5px 11px -9px black;
}
.scrol_slide_animation {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
}
.ajout_article_ev{
    margin-left:5px;
}
.red{
    background: #e74a3b !important;
    border: none !important;
}
.edit_slide {
    position: absolute;
    height: 8%;
    border: none;
    color: white;
    font-size: 15px;
    background: cadetblue;
    right: 0px;
    bottom: 23px;
}
.save_slide {
    position: absolute;
    height: 8%;
    border: none;
    color: white;
    font-size: 15px;
    background: seagreen;
    right: 0px;
    bottom: 23px;
    display: none;
}
.cc {
    border: none;
    opacity: 0.4;
    transition: 200ms;
}
/*liste shop*/ 
.liste_boutique {
    cursor: pointer;
    height: 200px;
    margin: 8px;
    position: relative;
   border: 1px solid rgba(0,0,0,0.4);
   transition: 200ms;
}
.liste_boutique:hover{
	box-shadow: 3px 3px 5px black;
}
.logo_botique {
    width: 100%;
    height: 100%;
}
.action_boutique {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
}
.liste_boutique:hover .nom_boutique{
	display :none;
}
.liste_boutique:hover .action_boutique{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.supprimer_boutique:hover{
	background: #000;
    color: white;
}

.liste_boutique:hover .logo_botique{
	filter: blur(1px);
}
.nom_boutique{
	font-weight: bold;
	background: rgba(255,255,255,0.6);
	width: 100%;
	padding: 10px;
	margin: 0 0 10px;
	position: absolute;
	bottom: 0px;
    text-align: center;
    color: black;

}
.padding-0{
	padding:0px !important;
}
.Administrer_boutique{
background: #c9e50b;
}
.Administrer_boutique:hover{
    background: #000;
    color: white;
}
.supprimer_boutique{
background: #e4087e;
} 
.supprimer_boutique, .Administrer_boutique{
	border-radius: 14px;
    padding: 7px;
    font-weight: bold; 
    color:black;
}
/*vote*/
.image_for_body {
    width: 100%;
    position: absolute;
    transition: 300ms;
    height: 100%;
    display: block;
}
.container_image_for_body {
    position: relative;
    height: 200px;
    cursor:pointer;
}
.image_for_header {
    clip: rect(0px auto auto 0px);
    transition: 300ms;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.container_image_for_header {
    height: 33px;
    position: absolute;
    width: 33px;
    z-index: 1;
    padding: 2px;
    border-radius: 50px;
    cursor: pointer;
    display: none;
}
._preview_image{
    max-width: 100%;
    max-height: 100%;
}
.preview_image_cont{
    height: 247px !important;
    display: flex;
    align-items: center;
    justify-content: center
}
.margin-top-5{
    margin-top: 5px !important;
}
.image_vote{
    transition : all 500ms ease-out;
}