body {
    overflow-x: hidden;
}
.container_cart {
    margin: 0;
    padding: 0 !important;
}
.container_page2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.pageView img {

    width: 100%;
    max-height: 100%;
    object-fit: cover;

}
.pageView {
    height: 200px;
}

.pageView1 {
    height: 100%;
    width: 100%;
}
.pageView1>img , .pageview_pricipal > img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.container_page1 {
    display: grid;
    grid-gap: 5px;
}
.pageView, .pageview_pricipal{
    box-shadow: 0 0px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    position : relative;
}
.pageview_pricipal {
   height: 100%;
   width: 100%;
}
.h4_page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container_page {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-bottom: 5px;

}
._category {
    color: #a0a0b9;
    font-size: 13px;
    margin: 13px;
}
.date_blog {
    background: #00000075;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 0 0 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}
.container_image_blog > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cnt_image_date_bloc{
    display: flex;
    height: 222px;
    margin-bottom: 5px;
    position: relative;
}
.title_blog{
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 9px;
}
._description_blog{
    margin: 0 9px;
}
.container_list_article {
    overflow-y: auto;
    max-height: 70vh;
    overflow-x: hidden;
    padding: 2px 10px;
    scrollbar-width: thin;
}
.date_blog p {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 0px !important;
}
.shop_menu {
    border: none;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    color: white;
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    display: none;
    left: 16px;
    margin: 2px;
}
.icon-bar{
    background-color: white !important;
}
.header-logo .logo img {
    display: block;
}
.logo img {
    height: 43px;
    margin: 0px 9px;
}
._header {
    display: flex !important;
    justify-content: space-between !important;
}
.link_my_shop{
    color: white;
    font-weight: 700;
    font-size: 21px;
}
#header {
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #202340 !important;
}
.shop_name {
    color: #000000;
    font-weight: bold;
    padding: 4px;
    font-size: 17px;
}
.header-logo {
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_v {
   /* transform : translateX(-400px);
    transition : 400ms*/
    padding: 5px;
}
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}
.ribbon span {
    position: absolute;
    display: block;
    width: 175Px;
    padding: 9px 0;
    background-color: #9e1814;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 12px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}
.ribbon::before, .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #570101;
        border-top-color: rgb(87, 1, 1);
        border-right-color: rgb(87, 1, 1);
}
.ribbon-top-right::before, .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.New span {
    background-color: #2D892D !important;
}
.Vendu span {
    background-color: #0E5592 !important;
}
.ribbon {
    width: 110px;
    height: 110px;
    overflow: hidden;
    position: absolute;
    z-index : 3;
}
.boutique_container{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.old-prix {
    font-size: 12px;
    text-decoration: line-through;
    font-weight: normal;
}
#container_description_reference {
    padding: 6px;
    /*border-top: 1px solid rgba(0,0,0,0.1);*/
    text-align: center;
    /*display: flex;
    justify-content: center;*/
    white-space: normal;
}
#_reference >._container_images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.2);
    min-width: 150px;
    max-width: 300px;
}
._container_images >img {
    max-width: 100%;
    max-height: 100%;
}
#_reference {
    background: white;
    /*box-shadow: 0px 0px 3px -1px black;*/
    width: 180px;
    margin: 10px 35px;
    display : inline-block;
}
#container_reference,#container_social_network {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container_selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_reference {
    padding: 10px;
    max-width: 80vw;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: thin;
    white-space: nowrap;
}

.cart {
    width: 100%;
    margin-top: 13px;
    position: relative;
    background: white;
    border-radius: 3px;
    border: 1px solid #0000001C;
    cursor: pointer;
    transition: all 300ms ease-in;
}
.cart:hover{
    box-shadow: 0 0 9px 0px #0000001c;
}
.js_list_article, .js_list_blog{
    display: flex;
    flex-wrap: wrap;
}
/*list shop*/
#listshops{
    font-weight: bold;
    display: flex;
    position: relative;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 2;
    background: white;
}
#echantillon_shop{
    background: #131313;
    padding: 30px 0;
    margin-bottom: 23px;
}
.logo_image_boutique_header {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
}
.text-center {
    margin: 0 15px;
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #d10024;
    display: flex;
    flex-direction: column;
    align-items: center;
}
._container_image_shop {
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    width: 66px;
    height: 66px;
}
.onLigne {
    height: 16px;
    width: 16px;
    background: #43bf43;
    position: absolute;
    bottom: 3px;
    right: 0;
    border-radius: 50%;
    padding: 1px;
}
.container_image {
    width: 100%;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.container_image > img {
    max-width: 100%;
    max-height: 100%;
/*object-fit: cover;
    object-position: center;*/
}
.product-rating {
    text-align: center;
}
.detail > h1 {

    text-align: center;
}

ul > ul > li input{
    margin-right: 2px;
}
ul > ul > li label, ul>li>label{
    font-weight: unset !important;
    margin-left: 5px;
}
.menulistshop a, #menulistshop a, .shop_name, #header-ctn a{
    color : white;
}

.containt_price .form-control {
    width: 100%;
    margin: 1px;
}
.detail {
    padding: 6px;
    height: 37%;
}
.product-name {
    text-transform: uppercase;
    font-size: 13px;
}
.product-price{
    text-align: center;
}
.image_slider {
    min-height: 200px;
    width: 100%;
    /*object-fit: cover;*/
}
.product-rating > i.fa-star {
    color: #ef233c;
}
.product-rating i {
    position: relative;
    width: 14px;
    margin-right: -4px;
    background: #FFF;
    color: #E4E7ED;
    z-index: 9;
}
.close_menu{
    margin-right: 9px;
    border-radius: 10%;
    border: 1px solid;
    padding: 5px;
    display: none;
    cursor: pointer;
}

.title_c_and_menu{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.product-rating{
    position: relative;
    margin: 15px 0px 10px;
    height: 20px;
}
.myvoting .fa-star{
    color:#d10024;
}
.myvoting .fa-star-o{
    color: #E4E7ED;
}
#header{
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #202340 !important;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fbeb04
}
.navbar-light .navbar-nav .nav-link {
    color: #fbeb04;
}
.wish-btn {
    position: absolute;
    border: transparent;
    top: 5px;
    right: 5px;
    background: transparent;
    height: 30px;
    width: 30px;
    padding: 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    color: #df5353;
}
._cart-btn {
	position: absolute;
	border: none;
	background: transparent;
	top: 35px;
	right: 7px;
    color: #df5353;
    height: 30px;
    width: 30px;
    padding: 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product-btns>button{
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    color: white;

  }
  
  .wish-btn:hover {
    box-shadow: 0 0px 8px 1px #df5353;
    border-radius: 50%;
    background-color: #df5353;
    color: white;
  }
 ._cart-btn:hover{
    box-shadow: 0 0px 8px 1px #df5353;
    border-radius: 50%;
    background-color: #df5353;
    color: white;
  }
  .container_image_slider{
      display: flex;
      justify-content: center;
      align-items: center;
      position : relative;
  }
  .header-cordinate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
/*nav menu shop*/
.submenu{
    display: none;
}
nav a{
	display: inline-block;
	text-decoration: none
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding:0px;
    z-index: 99999;;
    
}
.show_list_category_menu{
    display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding:0px;
	z-index: 99;
}
.container_resume_shop > h3{
    display: inline-block;
    max-width: 90vw;
    color: white;
    text-shadow: 0px 0px .4px black;
    text-align: center;
    font-size: 3rem;
}
.container_resume_shop {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.submenu li{
	border-bottom: 1px  solid #CCC;
}
.submenu li:hover{
	border-left: 5px solid red;
}
.submenu li a {
	padding: 15px 30px;
	font-size: 13px;
	color  : white;
	width: 200px ;
}
.mode:hover{
	/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}
.supermarcher:hover{
	/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}
.high-tech:hover{
	/* border-top: 5px solid #23a923; */
	background-color: rgba(35,169,35,.5);
}
.quincailleries:hover{
/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}
.epicerie:hover{
	/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}

.restaurant:hover{
	/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}

.mode .submenu{
    /*background-color: #202340;*/
    background-color : #5fa0bf;
}

.sante .submenu{
	background-color: #23a923;
}

.listeAmis:hover{
	cursor:pointer;
	color:yellow;
}

.menu_selected{
    color: #931717c9 !important;
    font-weight: bold;
}
@media (max-width: 700px){
    .container_resume_shop > h3{
        font-size: 1.5rem;
    }
    #_reference {
    width: 53% !important;
    }
    .link_my_shop{
        display: none;
    }
}

@media (min-width: 768px){

    #container_map {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 0 11px;
        justify-content: center;
        background: white;
    }
    .__{
        width: 100vw;
    }
    .__2{
        width: 100vw;
    }
    #map{
        height: 100%;
    }
}

#map{
    height: 400px;
    z-index: 1;
}
.datail_echantillon_shops h3, .datail_echantillon_shops h2 {
     font-size : 13px ;
}
#search_shop > h3 {
    font-size: 16px;
    text-align: center;
}
.list_shop {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 13px 16px;
}
 
 .list_shop> h4 {
        color: #2bbee2;
 }
 .is-active .leaflet-popup-content-wrapper{
    background: #08a8f7 !important;
    color: white !important;
 }
 .is-active .leaflet-popup-tip{
    background: #08a8f7 !important;
 }
 .is-expanded {
     z-index: 301;
 }
.list_shop > a{
    background: #216373;
    padding: 8px;
    color: white;
    text-decoration: none;
}
#container_list_shop {
    overflow-y: auto;
    height: 50vh;
    padding: 0 5px 0 0;
    margin: 5px 0px;
}
.leaflet-marker-pane {
    z-index: 990 !important;
}
#geolocate_me {
    border: none;
    background: none;
    font-size: 12px;
    margin: 5px;
}
#search_shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
    z-index: 1;
    background: white;
}
#search_shop p {
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.logo-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 5px;
    background: white;
}
.container_product {
    height: 260px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px #00000040;
    margin: 5px;
    background: white
}

.slogan {
    font-size: 11px;
    text-align: center;
    font-weight: normal;
}

.shop_name_g {

    text-align: center;
    font-size: 14px;

}
.__2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid rgba(0,0,0,0.1);
    width: 50vw !important;
    z-index: 1;
    background: white;
    padding: 5px;

}
.__{
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid rgba(0,0,0,0.1);
    width: 50vw !important;
    border-top: none;
    z-index: 1;
    background: white;
    padding: 5px;

}
.image_echatillon_shop > img {
    width: 100%;
    height: 100%;
}
.image_echatillon_shop {
    height: 200px;
    padding: 7px;
    display: flex;
    justify-content: center;
}
#echatillon_shops {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 33px;
}
.datail_echantillon_shops {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .bol1 {
    width: 2000px;
    height: 2000px;
    background: #2bbee2;
    position: absolute;
    border-radius: 50%;
    top: 20%;
    z-index: -1;
} */