.container_cart {
   
    margin: 0;
    padding: 0 !important;
}
.shop_menu {
    border: none;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    color: white;
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    display: none;
    left: 16px;
    margin: 2px;
}
.icon-bar{
    background-color: white !important;
}
.header-logo .logo img {
    display: block;
}
.logo img {
    height: 43px;
    margin: 0px 9px;
}
._header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: 1fr auto;
    align-items: center;
}
#header {
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #202340 !important;
}
.shop_name {
    color: #000000;
    font-weight: bold;
    padding: 4px;
    font-size: 17px;
}
.header-logo {
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_v {
   /* transform : translateX(-400px);
    transition : 400ms*/
    padding: 5px;
}
.ribbon-top-right {
    top: -10px;
    right: -10px;
}
.ribbon-top-right span {
    left: -25px;
    top: 30px;
    transform: rotate(45deg);
}
.ribbon span {
    position: absolute;
    display: block;
    width: 175Px;
    padding: 9px 0;
    background-color: #9e1814;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 12px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}
.ribbon::before, .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #570101;
        border-top-color: rgb(87, 1, 1);
        border-right-color: rgb(87, 1, 1);
}
.ribbon-top-right::before, .ribbon-top-right::after {
    border-top-color: transparent;
    border-right-color: transparent;
}
.ribbon-top-right::after {
    bottom: 0;
    right: 0;
}
.New span {
    background-color: #2D892D !important;
}
.Vendu span {
    background-color: #0E5592 !important;
}
.ribbon {
    width: 110px;
    height: 110px;
    overflow: hidden;
    position: absolute;
    z-index : 3;
}
.boutique_container{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.old-prix {
    font-size: 12px;
    text-decoration: line-through;
    font-weight: normal;
}
#container_description_reference {
    padding: 6px;
    /*border-top: 1px solid rgba(0,0,0,0.1);*/
    text-align: center;
}
#_container_images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.2)
}
#_container_images >img {
    max-width: 100%;
    max-height: 100%;
}
#_reference {
    background: white;
    /*box-shadow: 0px 0px 3px -1px black;*/
    width: 180px;
    margin: 10px 35px;
}
#container_reference,#container_social_network {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container_selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_reference {
    display: flex;
    justify-content:center;
    padding: 10px;
    max-width: 80vw;
    flex-wrap: wrap;
}

.cart {
    width: 100%;
    margin-top: 13px;
    position: relative;
    background: white;
    border-radius: 3px;
    border: 1px solid #0000001C;
    cursor: pointer;
    transition: all 300ms ease-in;
}
.cart:hover{
    box-shadow: 0 0 9px 0px #0000001c;
}
.js_list_article{
    display: flex;
    flex-wrap: wrap;
}
/*list shop*/
#listshops{
    font-weight: bold;
    display: flex;
    position: relative;
    overflow-y: hidden;
    white-space: nowrap;
}

.logo_image_boutique_header {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
}
.text-center {
    display: inline-block;
    margin: 0 15px;
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #d10024;
}
.container_image {
    width: 100%;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.container_image > img {
    max-width: 100%;
    max-height: 100%;
/*object-fit: cover;
    object-position: center;*/
}
.product-rating {
    text-align: center;
}
.detail > h1 {

    text-align: center;
}

ul > ul > li input{
    margin-right: 2px;
}
ul > ul > li label, ul>li>label{
    font-weight: unset !important;
    margin-left: 5px;
}
.menulistshop a, #menulistshop a, .shop_name, #header-ctn a{
    color : white;
}
.containt_price {
   
}
.containt_price .form-control {
    width: 100%;
    margin: 1px;
}
.detail {
    padding: 6px;
    height: 37%;
}
.product-name {
    text-transform: uppercase;
    font-size: 13px;
}
.product-price{
    text-align: center;
}
.image_slider {
    min-height: 200px;
width: 100%;
object-fit: cover;
}
.product-rating > i.fa-star {
    color: #ef233c;
}
.product-rating i {
    position: relative;
    width: 14px;
    margin-right: -4px;
    background: #FFF;
    color: #E4E7ED;
    z-index: 9;
}
.close_menu{
    margin-right: 9px;
    border-radius: 10%;
    border: 1px solid;
    padding: 5px;
    display: none;
    cursor: pointer;
}

.title_c_and_menu{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.product-rating{
    position: relative;
    margin: 15px 0px 10px;
    height: 20px;
}
.myvoting .fa-star{
    color:#d10024;
}
.myvoting .fa-star-o{
    color: #E4E7ED;
}
#header{
    position: sticky;
    top: 0;
    z-index: 11;
    background-color: #202340 !important;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #fbeb04
}
.navbar-light .navbar-nav .nav-link {
    color: #fbeb04;
}
.wish-btn {
    position: absolute;
    border: transparent;
    top: 5px;
    right: 5px;
    background: transparent;
    height: 30px;
    width: 30px;
    padding: 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    color: #df5353;
}
._cart-btn {
	position: absolute;
	border: none;
	background: transparent;
	top: 35px;
	right: 7px;
    color: #df5353;
    height: 30px;
    width: 30px;
    padding: 0px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.product-btns>button{
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: transparent;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    color: white;

  }
  
  .wish-btn:hover {
    box-shadow: 0 0px 8px 1px #df5353;
    border-radius: 50%;
    background-color: #df5353;
    color: white;
  }
 ._cart-btn:hover{
    box-shadow: 0 0px 8px 1px #df5353;
    border-radius: 50%;
    background-color: #df5353;
    color: white;
  }
  .container_image_slider{
      display: flex;
      justify-content: center;
      align-items: center;
      position : relative;
  }
  .header-cordinate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
/*nav menu shop*/
.submenu{
	display: none;
}
nav a{
	display: inline-block;
	text-decoration: none
}
nav li:hover .submenu{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding:0px;
	z-index: 99;
}
.show_list_category_menu{
    display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding:0px;
	z-index: 99;
}
.container_resume_shop > h3{
    display: inline-block;
    max-width: 90vw;
    color: white;
    text-shadow: 0px 0px .4px black;
    text-align: center;
    font-size: 3rem;
}
.container_resume_shop {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.submenu li{
	border-bottom: 1px  solid #CCC;
}
.submenu li:hover{
	border-left: 5px solid red;
}
.submenu li a {
	padding: 15px 30px;
	font-size: 13px;
	color  : white;
	width: 200px ;
}
.mode:hover{
	/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}
.supermarcher:hover{
	/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}
.high-tech:hover{
	/* border-top: 5px solid #23a923; */
	background-color: rgba(35,169,35,.5);
}
.quincailleries:hover{
/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}
.epicerie:hover{
	/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}

.restaurant:hover{
	/* border-top: 5px solid #202340; */
	background-color: rgba(228,77,38,.5);
}

.mode .submenu{
	background-color: #202340;
}

.sante .submenu{
	background-color: #23a923;
}

.listeAmis:hover{
	cursor:pointer;
	color:yellow;
}

@media (max-width: 700px){
    .container_resume_shop > h3{
        font-size: 1.5rem;
    }
}

