.container_image {
    height: 156px;
    width: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #978484;
    margin: 10px;
    padding: 6px;
    position: relative;
    overflow: hidden;
    transition: 500ms;
}

.image_selected {
    border-radius: 10px;
    box-shadow: 0 0 5px #25f725;
}
.container_image > img {
    max-width: 100%;
    max-height: 100%;
}
.container_own_image {
        background: white;
        width: 80vw;
        height: 85vh;
        display: grid;
        grid-template-rows: 1fr 15fr;
    
}
.container_image button {

    position: absolute;
    bottom: 0;
    width: 100%;
    border: none;
    background: #e33a3ae6;
    color: white;

}
.loader_form_ck {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_add{
    padding: 19px;
    box-shadow: 0px 0px 10px black;
    background: white;
}
.form_add div {
    display: flex;
justify-content: space-between;
align-items: center;
border-top: 1px solid rgba(0,0,0,0.1);
margin-top:  5px;
padding-top: 7px;
}
.container_form_add{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
    background: #938f8f80;
}
.all_image {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}
#container_own_image{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ae9c9c1f;
    z-index: 9999;
    
}
.title {
    padding: 5px;
    background: rgba(126, 130, 145, 0.4);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}