.product-previe{
    position: relative;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 286px !important;
    margin: 9px;
}
.Promo{
    background-color: #9e1814 !important;
}
.New{
    background-color: #2D892D !important;
}
.li-review {
    padding: 10px 10px 0 10px;
    box-shadow: 0px 1px 2px #dee9f2;
    border-radius: 6px;
    transition: 5000ms ease-in-out;
    transform: scale(1);
    height: 88px;

}
.breadcrumb-tree li a {
    color: #3c3ca4;
}
.delete-vote {
    position: absolute;
    right: 5px;
    bottom: 3px;
}
.breadcrumb-tree {
    display: flex;
    padding: 9px;
    flex-wrap: wrap;
}
.breadcrumb-tree li {
    margin: 0 7px;
}
.Vendu {
    background-color: #0E5592 !important;
}
.promotion {
    color: white;
    font-size: 12px;
    padding: 10px;
    display : inline-block
}
.product-details .product-name {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}
.share{
   
        border: none;
        color: white;
        background: #4e4eecd9;
  
}
.contain_share {
    display: flex;
    justify-content: center;
}
/**detail blog */
.astuce_blog {
    box-shadow: 0px 0px 2px #00000040;
    border-radius: 8px;
    padding: 5px;
    margin: 20px 0;
}
.astuce_blog h1{
    font-size: 20px !important;
    text-align: center;
    color: #07307d
}
.container_image_astuce img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.container_image_astuce{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_on_title{
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important; 
}
.view_on_title p{
    padding: 0 6px;
    margin-bottom: 0px !important;
    color: #686060;
    transition: 500ms;
}
.view_on_title span{
    color: #686060;
    transition: 500ms;
}
.view_on_title:hover .view_on_title>p {
    color: black !important;
}
.contaier_astuce{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 6px 0px;

}
.title_astuce {
    color: #0d2e6c;
    font-weight: bold
}
.rating_review_blog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 0px;
}
.container_detail_thematique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    box-shadow: 0 0 5px #cacaca;
    overflow: hidden;
}
.container_thematique {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 7px;
}

.container_image_thematique {

    height: 47px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_thematique {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container_title_thematique {
    height: 37px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_image_user_vote{
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}
.container_image_user_vote >img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}