.product-previe{
    position: relative;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 286px !important;
    margin: 9px;
}
.Promo{
    background-color: #9e1814 !important;
}
.New{
    background-color: #2D892D !important;
}
.li-review {
    padding: 10px 10px 0 10px;
    box-shadow: 0px 1px 2px #dee9f2;
    border-radius: 6px;
    transition: 5000ms ease-in-out;
    transform: scale(1);
}
.breadcrumb-tree li a {
    color: #3c3ca4;
}
.delete-vote {
    position: absolute;
    right: 5px;
    bottom: 3px;
}
.breadcrumb-tree {
    display: flex;
    padding: 9px;
    flex-wrap: wrap;
}
.breadcrumb-tree li {
    margin: 0 7px;
}
.Vendu {
    background-color: #0E5592 !important;
}
.promotion {
    color: white;
    font-size: 12px;
    padding: 10px;
    display : inline-block
}
.product-details .product-name {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}
.share{
   
        border: none;
        color: white;
        background: #4e4eecd9;
  
}
.contain_share {
    display: flex;
    justify-content: center;
}