#container_message {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    min-height: 50px;
}

#container_message>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
}
#container_message>div>img {
    max-width: 100%;
    max-height: 100%;
}
.notview{
    background: #e6e6e6;
}