.list_option {
    padding: 3px;
    overflow-y: auto;
    min-height: 70px;
    box-shadow: 2px 2px 5px;
    border-radius: 8px;
}
.items-menu {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color: #4b70dc;
}
.add_option {
    margin-top : 10px
}
.items-menu-selected {
    background: #4c9719 !important;
    border-radius: 17px;
    transition: all 300ms;
}
.modifi_menu_in{
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    padding: 4px;
}
.attibute_article_in{
    margin: 0 5px;
}
.option_menu {
    display: inline-block;
    padding: 10px 3px 10px 10px;
    margin: 3px;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 11px;
    color: white;
    position: relative;
cursor: pointer;
}
.delete_option {
    background-color: transparent;
    border: none;
    width: 27px;
    color: white;
}
