h3 {
    font-size: 1.25rem;
    margin-top: 0;
}

.detailtitle {
    position: absolute;
    display: inline-block;
    top: 0;
    background: white;
    box-shadow: 0px 5px 5px black;
    border-radius: 13px;
    padding: 5px;
    text-align: center;
    z-index: 9;
}
.my-carousel-items ul {
    margin: 0 0 1.5rem;
    padding: 0;
}
.liste_image {
    position: relative;
}
.containt_image_vote {
    width: 100%;
    height: 260PX;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-content {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.image {
    display: contents;
    position: relative;
    width: 70%;
    margin: 0px;
        margin-right: 0px;
        margin-left: 0px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.line>.btn-success {
    color: #FFF;
    background-color: #4c4d4f !important;
    border-color: #4c4d4f !important;
}
.line>.btn-success:hover {
    color: #FFF;
    background-color: #3ea1c5 !important;
    border-color: #3ea1c5  !important;
}
.my-carousel-item  li{
    display: inline-block;
}

svg {
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
}

/* img .my-image {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    right: -1rem;
} */

/* .my-image {
    width: 400px !important;
    height: 500px !important;
} */

.line{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

.l_comment{
    display: inline-flex !important;
}

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}

/********************************
* Carousel styles
*********************************/
.my-carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scrollbar-width: thin;
}

.my-carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}


/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .my-carousel-item {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

    .my-carousel-item {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {

    .my-carousel-item {
        flex-basis: 450px;
    }
}