<div id="membre_user">
	<div class="container_membre_all">
		<button class="btn-control-message fermer_membre">
			<span class="fa fa-remove"></span>
		</button>
		<div class="container-membre">
			<div id="headeraddfriends" style="background-color:#7b89f1">
				<p>Membres</p><input id="liste_membre" class="search-in js-search-shop form-control" type="search" name="recheche" placeholder="Chercher une boutique ?"></div>
			<div id="container_membre_in" class="js_member">
				
			</div>
		</div>
	</div>
</div>


{# message #}

<div id="container-message">
	<div style="" class="head_message">
		{# <button class="btn-control-message parametre">
			<span class="fa fa-cogs"></span>
		</button> #}
		<button class="btn-control-message fermer close_message">
			<span class="fa fa-remove"></span>
		</button>
		<div id="name_and_logo_boutique" style="background-color:#7b89f1">
			<div id="name_and_logo_boutique">
				<a id="all" href="index.php?in-action=profil&amp;id=217" class="getCategorie">
					<img class="_image_" src="{{asset('images/'~boutique.logo)}}">{{ boutique.name }}
				</a>
			</div>
		</div>
		<div class="parametre_message_in">
			<button type="button" class="font_b block_message" name="6">
				<span class="glyphicon glyphicon-ban-circle"></span>
				Bloquer</button><br>
			<button type="button" class="font_b delete_all_message" name="6">
				<span class="glyphicon glyphicon-trash"></span>
				Supprimer</button>
		</div>

		<div id="message"></div>
		<div class="action  " style="background-color:#7b89f1">
			<span class="container_preview_image_for_article">
				<img id="preview_image_for_article">
				<div class="delete_image_preview_article">
					<span class="btn btn-danger glyphicon glyphicon-trash"></span>
				</div>
			</span>
			<form id="formForMessageBoutique" enctype="multipart/form-data">
				<textarea class="form-control" type="text" name="message"></textarea><input type="hidden" name="id_boutique" value="217">

				<label class="file_image_uploid">
					<input name="image_for_article" type="file" style="display : none" class="input_preview_image_for_article">
					<span class=" glyphicon glyphicon-picture"></span>
				</label>
				<button type="submit" name="EnvoyeMessage" class="envoyeMessage_in send_message font_b">
					<span class="glyphicon glyphicon-send"></span>
				</button>
			</form>
		</div>
	</div>
</div>
