{% extends 'base.html.twig' %}

{% block title %}New Reference{% endblock %}

{% block body %}
    <h1>Create new Reference</h1>

    {{ include('reference/_form.html.twig') }}

    <a href="{{ path('reference_index') }}">back to list</a>
{% endblock %}
