<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a class="navbar-brand" href="#">Brand</a-->
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ path('shop',{'type':lastboutique.type,'id':  lastboutique.id})}}" target ="blank">Galerie marchande</a></li>
        <li class="modenav"><a href="#">Mode</a></li>
        <li class="hightechnav"><a href="#">High-tech</a></li>
        <li class="maisonnav"><a href="#">Maison</a></li>
      </ul>
      <!--form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form-->
      {#

      <ul class="nav navbar-nav navbar-right">
        {% if app.user %}
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart panier"> Panier</a></li>
        <li><a href="#">Suivie</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Notifications</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{app.user.firstname }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Profil</a></li>
            <li><a href="">Paramètres</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="">Deconnexion</a></li>
          </ul>
        </li>
        {% else %}
          <li><a href="">Connexion</a></li>
          <li id="inscription"><a href="">Inscription</a></li>
        {%  endif %}
      </ul>
      #}
      {% include "boutique/dependancies/_actionUser.html.twig"%}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>