<div class='row table_video'>
	<div class="col-sm-4 col-md-4 ">
		<p align="center">Votre pub est ici</p>
		<div class="containt_video">

			<!--div class="progressTime">
			               Current play time: <span class="current"></span>
			               Video duration: <span class="duration"></span>
			           </div>
			           <div class="progressBar">
			                 <div class="timeBar"></div>
			           </div>
			           <a href="#" class="muted" >Mute/Unmute</a>
						<div class="volumeBar">
						    <div class="volume"></div>
						</div-->

			<!--div class='control'>
					  	   <btn class="btn btn-success btnPlay" name=3>Play/Pause</btn>
					  </div--><p align="center"></p>
			<iframe class='list_video' src="https://www.youtube.com/embed/u-2S-vi5bu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<!--div class='control'>
					  	  <btn class="btn btn-success btnPlay" name=4>Play/Pause</btn>
					  </div-->

		</div>

	</div>

	<div class="col-sm-4 col-md-4 ">
		<p align="center">Votre pub est ici</p>

		<div
			class="containt_video">

			<!--div class='control'>
					  	   <btn class="btn btn-success btnPlay" name=3>Play/Pause</btn>
					  </div-->
			<p align="center"></p>
			<iframe class='list_video' src="https://www.youtube.com/embed/fRQC2VBJecI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<!--div class='control'>
					  	  <btn class="btn btn-success btnPlay" name=4>Play/Pause</btn>
					  </div-->
		</div>
	</div>


	<div class="col-sm-4 col-md-4">
		<p align="center">Votre pub est ici</p>
		<div class="containt_video">
			<p align="center"></p>

			<iframe class='list_video' src="https://www.youtube.com/embed/u-2S-vi5bu4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<!--div class='control'>
					  	   <btn class="btn btn-success btnPlay" name=3>Play/Pause</btn>
					  </div-->
		</div>
	</div>

</div>
