{% extends 'base.html.twig' %}

{% block title %}New Slider{% endblock %}

{% block body %}
    <h1>Create new Slider</h1>

    {{ include('slider/_form.html.twig') }}

    <a href="{{ path('slider_index') }}">back to list</a>
{% endblock %}
