<div class="modal fade" id="view_article" tabindex="-1" role="dialog" aria-labelledby="ajout_modal" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="label name_article">Vue d'article</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div id="div_ajout_article" class="modal-body row" style="font-weight:none;">
				<div class="loader_ajax_"><img src="/images/images_default/ajax-loader.gif"></div>
				<div class="container_image col-md-5">
					<form class="form_view_update_image"style="display: flex;justify-content: space-between;align-items: end;flex-direction: column;">
						<div class="preview_image" style="width: 100%;">
						    <input id="view_id-image" type="hidden" name="id-image" class="id-image">
							<img id="preview_image" src="" >
						</div>
						<div class="">
							<label for="file_in">Importer une image : *</label>
							<input id="file_in" class="file form-control" type="file" name="images" multiple required>
						</div>
						<button class="btn btn-success" type="submit"style="margin-top: 12px;">Enregistrer</button>
					</form>

				</div>
				<div class="container_detail col-md-7">
					<form class="form_article_in_shop_update row" action="">
					  
					    <input type="hidden" class="id-article" value="" name="id-article">
						<input type="hidden" class="_view_category" name="categorie" value="">
						<div class="col-md-12">
							<label for="view_prix">Ajouter dans le slide   : *
							</label>
							<div>
								<input  id="slide1" class="view_slide" type="radio" name="slider" value="1" > Oui
								<input  id="slide0" class="view_slide"  type="radio" name="slider" value="0" > Non
							</div>
						     
							
						</div>
						<div class="col-md-6">
							<label>Titre : *</label>
							<input id="view_name"class="form-control " type="text" name="name" required>
						</div>
						<div class="col-md-6">
							<label for="view_prix">Prix : *
							</label>
							<input id="view_prix" class="form-control" value="0" type="number" name="price" min="0" required>
						</div>
						<div class="col-md-6">
							<label for="view_prix_g">Prix en gros en Ar:
							</label>
							<input id="view_prix_g" class="form-control" value="0" type="number" name="global_price" min="0">
						</div>
						<div class="col-md-6">
							<label for="view_stock">Quantité :
							</label>
							<input id="view_stock" class="form-control" type="text" name="quantity">
						</div>
						<div class="col-md-6">
							<label for="view_sous_category">Type :
							</label>
							<select id="view_sous_category" class="view_sous_category form-control" name="sous_category"></select>
						</div>
						<div class="col-md-6 ">

							<label class="valeur_type" for="type">Option :
							</label>
							<select id="view_type" class="view_type form-control" name="type"></select>
						</div>
						<div class="col-md-6">
							<label for="view_referency">Référence : *</label>
							<input id="view_referency"class="form-control" type="text" name="referency" required>
						</div>
						<div class="col-sm-4 col-lg-4 col-md-4">
							<label for="view_promo">Promo :
							</label>
							<select id="view_promo" class="form-control" name="promotion">
								<option value="Normal">Normal</option>
								<option value="Promo">Promo</option>
								<option value="New">New</option>
								<option value="Vendu">Vendu</option>
							</select>
						</div>
						<div class="col-sm-4 col-lg-4 col-md-4 inter-promo" >
							<label for="view_promo_price">Prix promo : </label>
							<input id="view_promo_price"class="form-control" type="number" name="price_promo" value="0" min="0">
						</div>
						<div class="col-sm-4 col-lg-4 col-md-4 external-link" style="">
						<label>Lien externe : </label>
						<input class="form-control" type="text" id="view_external-link" name="external-link" placeholder="https://votre-lien-pour-détail.com">
					</div>

						<div class="col-md-12">
							<label for="view_detail">Détails * :
							</label>
							<textarea id="view_detail" class="form-control" name="description" required></textarea>
						</div>
					<button class="btn btn-success submit_add_article margin-top-5 btn-submit" type="submit" name="submit_in">Enregistrer</button>
				</form>

			</div>
			</div>

		</div>
	</div>
</div>
