<div class="modal fade" id="add_header" tabindex="-1" role="dialog" aria-labelledby="ajout_modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="label">Ajout d'article</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form class="header_image" method="POST">
			<div id="div_ajout_article" class="modal-body row" style="font-weight:none;">
                <div class="col-md-4">
					<div class="preview_image">
						<img id="preview_image">
					</div>
				</div>
				<div class="col-md-8">
				       <label>Photo</label>
					   <input type="file" name="header_image" class="file form-control" required >
                      
				</div>

			</div>
			<div class="modal-footer"> <button class="btn btn-success btn-submit">Enregitrer</button></div>
			</form>
		</div>
	</div>
</div>