<div
	class="card shadow mb-4">
	<!-- Card Header - Dropdown -->
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Ajout formation video</h6>
	</div>
	<!-- Card Body -->
	<div class="card-body">
		<form action="" class="add_video">

			<div class="row">
				<div class="col-md-6">
					<label for="">Titre</label>
					<input type="text" class="form-control" name="title" placeholder= "Titre" value="" required>
				</div>
                <div class="col-md-6">
					<label for="">Lien</label>
					<input type="text" class="form-control" name="link" value="" placeholder= "https://" required>
				</div>
                <div class="col-md-12">
					<label for="">Titre</label>
					<textarea name="description" class="form-control" id="" rows="3" placeholder= "Description" requires></textarea>
				</div>
			</div>
			<div class="container_btn">
					<button type="submit" class="btn btn-success btn-submit">Enregistrer</button>
			</div>
		</form>
	</div>
</div>
