<h3>Edition Boutique</h3>
{{form_start(form, {'attr' : {'class': 'shop_edit'}})}}
        {{form_widget(form)}}
 <div class="container_btn_shop_edit">
  <button class="btn btn-success btn-submit" type="submit" class="btn_shop_edit">Enregistresr</button>
</div> 
{{form_end(form)}}
