Bonjours <strong>{{ boutique.name }}</strong>, vous avez une nouvelle commande de  <strong>{{user.name }} {{ user.firstname}}</strong>, rendez-vous sur <a href="{{absolute_url(path('index'))}}">notre site</a>
