<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toutenone</title>
</head>
<body>
    <p style="color: black;font-weight: bold;"> Bonjour <strong>{{ user.name}} {{ user.firstName}} </strong>,
    <a href="{{  absolute_url(path('app_reset_password',{ 'token' : user.getResetToken}))  }}">Recuperer  votre mots de passe içi</a>

</body>
</html>


        